<header>
</header>    

<div class="custom-top2">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ค้นหา/แก้ไข หน่วยรับ
                    </h3>
                </div>
                <div class="panel-body custom-height">
                
                    <div class="list-group text-left">
                        <div ng-repeat="department in $ctrl.departments" class="col-md-12 list-group-item custom-list-group-item">
                            <div class="col-md-6 text-left">
                                <h4><b>ชื่อหน่วย :</b> {{department.name}}</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                 <button class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                 <button class="btn btn-danger" ng-click="$ctrl.removeDepartment(department.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </div>   
                            <div class="col-md-12"> 
                                <b>รายละเอียด :</b> {{department.description}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>  

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> เพิ่ม หน่วยรับ
                    </h3>
                </div>
                <div class="panel-body custom-height">
                    
                    <form name="newDepartmentForm" class="form-horizontal text-center" ng-submit="$ctrl.addDepartment($ctrl.newDepartment)">

                        <label class="control-label col-md-3" for="name">ชื่อหน่วย :</label>
                        <div class="col-md-9">
                            <p><input class="form-control" ng-model="$ctrl.newDepartment.name" type="text" id="name" placeholder="เช่น บชร.3" required/></p>
                        </div>
                        
                        <label class="control-label col-md-3" for="description">รายละเอียด :</label>
                        <div class="col-md-9">
                            <p><input class="form-control" ng-model="$ctrl.newDepartment.description" type="text" id="description" placeholder=""/></p>
                        </div>
                        
                        <div class="col-md-12">
                            <p><input type="submit" ng-disabled="newDepartmentForm.$invalid" class="btn btn-primary" value="บันทึก"></p>
                        </div>

                        <div class="col-md-12 text-left">
                            <hr/>
                            <p><h4><b>ตัวอย่าง</b></h4></p>
                            <p><b>ชื่อหน่วย</b> : บชร.1</p>
                            <p><b>รายละเอียด</b> : หน่วยบัญชาการช่วยรบที่ 1 จว.ชลบุรี </p>            
                        </div>

                    </form>

                </div>
            </div>
        </div>  
    </div>            
</div>    