<header>
    Landing Page
</header>    

<div>
    <div class="container">
        <div class="jumbotron custom-top">
            <p>
                <h3>แนวควํามคิดในกํารส่งกำลัง</h3>
                <ul>
                    <li>ใช้ระบบการส่งกำลังบำรุงเดียวกันทั้งในยามปกติ และยามสงครามให้มากที่สุด</li>
                    <li>ต้องเป็นไปตามมาตรฐานเดียวกัน แตกต่างกันบ้างตามความแตกต่างของที่ตั้ง ภูมิประเทศ ลมฟ้าอากาศ เหตุการณ์ในขณะนั้น</li>
                    <li>มอบความรับผิดชอบให้ ทภ. ดำเนินการให้มากที่สุด</li>
                    <li>จัดเตรียมให้มี สป. อยู่ในสภาพพร้อมใช้งานตลอดเวลา</li>
                    <li>สะสม สป. สำรองสงครามเท่าที่จำป็นและเตรียมการระดมสรรพกำลังไว้ให้พร้อม</li>
                    <li>จัดเตรียมให้มีการบริการ สิ่งก่อสร้าง สิ่งอำนวยความสะดวก ไว้ให้ครบถ้วน</li>
                    <li>จัดให้มีหน่วยสนับสนุนอย่างเพียงพอและได้ส่วนสัมพันธ์กับหน่วยรบ</li>
                    <li>พัฒนาระบบการส่งกำลังบำรุงให้ทันสมัยเสมอ</li>
                </ul>        
            </p>        
        </div>
    </div>   
</div>    