<header>
</header>    

<div>
    <div class="container custom-top">
        <div class="page-title">ระบบการลงทะเบียน ส.ป.</div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ลงทะเบียนแล้ว
                        </h3>
                    </div>
                    <div class="panel-body custom-height">
                        <div ng-repeat="maindoc in $ctrl.maindocs" class="col-md-12 list-group-item custom-list-group-item">
                            <div class="col-md-6 text-left">
                                <h4><b>รหัสสินค้า :</b> {{maindoc.itemNo}}</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                 <button class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                 <button class="btn btn-danger" ng-click="$ctrl.removeMaindoc(maindoc.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </div>   
                            <div class="col-md-12"> 
                                <b>หมายเลขคลังสินค้า:</b> {{maindoc.warhouseNo}}
                            </div>
                            <div class="col-md-12"> 
                                <ul>
                                    <p ng-repeat="(key, value) in maindoc.rfid">รหัส RFID: {{key}} | สถานะ: {{value}}</p>
                                </ul>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ลงทะเบียนใหม่
                        </h3>
                    </div>
                    <div class="panel-body custom-height">
                        <form name="newMaindocForm" class="form-horizontal text-center" ng-submit="$ctrl.addMaindoc($ctrl.newMaindoc, $ctrl.regisdocs)">
                            <label class="control-label col-md-3" for="itemNo">ส.ป. :</label>
                            <div class="col-md-9">
                                <p>
                                    <select class="form-control" id="itemNo" ng-model="$ctrl.newMaindoc.itemNo" required>
                                        <option ng-repeat="item in $ctrl.items" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </p>
                            </div>

                            <label class="control-label col-md-3" for="contractNo">สัญญา :</label>
                            <div class="col-md-9">
                                <p>
                                    <select class="form-control" id="contractNo" ng-model="$ctrl.newMaindoc.contractNo" required>
                                        <option ng-repeat="contract in $ctrl.contracts" value="{{contract.id}}">{{contract.name}}</option>
                                    </select>
                                </p>
                            </div>

                            <label class="control-label col-md-3" for="vendorNo">ผู้ค้า :</label>
                            <div class="col-md-9">
                                <p>
                                    <select class="form-control" id="vendorNo" ng-model="$ctrl.newMaindoc.vendorNo" required>
                                        <option ng-repeat="vendor in $ctrl.vendors" value="{{vendor.id}}">{{vendor.name}}</option>
                                    </select>
                                </p>
                            </div>

                            
                            <label class="control-label col-md-3" for="receiveDate">วันที่รับสินค้า :</label>
                            <div class="col-md-9">
                                <p>
                                    <div class="input-group">
                                        <span class="input-group-addon fa fa-calendar"></span>
                                        <input class="form-control" id="receiveDate" name="receiveDate" type="text"
                                             ng-model="$ctrl.newMaindoc.receiveDate"  required/>
                                    </div>
                                </p>
                                <script>$('#receiveDate').datepicker();</script>
                            </div>

                            <label class="control-label col-md-3" for="departmentNo">หน่วย :</label>
                            <div class="col-md-9">
                                <p>
                                    <select class="form-control" id="departmentNo" ng-model="$ctrl.newMaindoc.departmentNo" required>
                                        <option ng-repeat="department in $ctrl.departments" value="{{department.id}}">{{department.name}}</option>
                                    </select>
                                </p>
                            </div>

                            <label class="control-label col-md-3" for="warhouseNo">คลัง :</label>
                            <div class="col-md-9">
                                <p>
                                    <select class="form-control" id="warhouseNo" ng-model="$ctrl.newMaindoc.warhouseNo" required>
                                        <option ng-repeat="warehouse in $ctrl.warehouses" value="{{warehouse.id}}">{{warehouse.name}}</option>
                                    </select>
                                </p>
                            </div>

                            <label class="control-label col-md-3" for="zoneNo">พื้นที่ :</label>
                            <div class="col-md-9">
                                <p>
                                    <select class="form-control" id="zoneNo" ng-model="$ctrl.newMaindoc.zoneNo" required>
                                        <option ng-repeat="zone in $ctrl.zones" value="{{zone.id}}">{{zone.name}}</option>
                                    </select>
                                </p>
                            </div>

                            <label class="control-label col-md-3" for="receiveAmount">ปริมาณที่รับ :</label>
                            <div class="col-md-9">
                                <p>
                                     <input class="form-control" id="receiveAmount" name="receiveAmount" type="text" 
                                        ng-model="$ctrl.newMaindoc.receiveAmount"
                                        ng-change="$ctrl.genRfidBoxes($ctrl.newMaindoc.receiveAmount)" required/>
                                </p>
                            </div>

                            <label class="control-label col-md-3" for="remark">หมายเหตุ :</label>
                            <div class="col-md-9">
                                <p>
                                     <input class="form-control" id="remark" name="remark" type="text" 
                                        ng-model="$ctrl.newMaindoc.remark" required/>
                                </p>
                            </div>

                            <div ng-repeat="n in [] | range:$ctrl.newMaindoc.receiveAmount">
                                <label class="control-label col-md-3" for="rfid{{n}}">รหัส RFID  {{n+1}} :</label>
                                <div class="col-md-9">
                                    <p>
                                        <input class="form-control" id="rfid{{n}}" name="rfid{{n}}" type="text" 
                                            ng-disabled="true"
                                            ng-model="$ctrl.regisdocs[n].rfid"/>
                                    </p>
                                </div>
                            </div> 

                            <div class="col-md-12">
                                <p><input type="submit" ng-disabled="newMaindoc.$invalid" class="btn btn-primary" value="บันทึก"></p>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>    
        </div>            
    </div>    
</div>    